.home-principal{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background: rgb(77, 77, 77);
}

.apresentacao{
  padding-bottom: 2rem;
}

.engloba-home{
  margin-top: 150px;
}


